{% extends 'base.html' %}
{% load i18n %}
{% block title %}Contact{% endblock %}
{% block content %}
    <section id="about">
        <h2>{% blocktrans %}Biz haqida{% endblocktrans %}</h2>
        <p id="about-text">{% blocktrans %}So‘nggi yillarda O‘zbekistonda dam olishni to‘g‘ri tashkil etishga bo‘lgan
            talab sezilarli
            darajada oshdi. Shu
            munosabat bilan turli turistik takliflar soni ortdi. Bunday turli xil shaxsiy sayohatlarda adashib qolmaslik
            uchun shaxsiy mamlakatlarda dam olishni tashkil etishning o’ziga xos xususiyatlari haqida dolzarb
            ma’lumotlarga
            ega bo’lish kerak. Bizning sayyohlik agentligimiz individual va guruhli dam olish uchun har qanday
            murakkablik
            darajasidagi sayohatlarni tashkil qilishda tajribali mutaxassislarni jalb qiladi. Biz qulay shartlarda
            sifatli
            sayohat xizmatlarining to’liq to’plamini taklif etamiz. Sizga mening sovg’am nafaqat sayohatingiz
            muvaffaqiyatli
            tashkil etilishiga ishonch, balki yoqimli va maroqli dam olishdir. Bizga to’liq ishonishingiz
            mumkin! <br>Direktor: Chindaliyev Umid Maxamatkul o'g'li. Ish vaqti: har kuni 10 dan 19:00 gacha.{% endblocktrans %}</p>
    </section>
{% endblock %}